.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          =link_to new_group_path do
            = fa_icon 'edit', class: 'side-header__box__menu__new-group__icon'
        %li.side-header__box__menu__edit-user
          =link_to edit_user_path(current_user) do
            = fa_icon 'cog',class: 'side-header__box__menu__edit-user__icon'
          

  .side-groups
    - current_user.groups.each do |group|
      .side-groups__group
        = link_to group_messages_path(group) do
          .side-groups__group__group-name
            = group.name
          .side-groups__group__latest-message
            = group.show_last_message


 








